/target/
/bin/
/logs/

# Credentials
/terraform/i3s-dev-*.json

# Terraform
/terraform/.terraform
/terraform/terraform.tfstate*
/nbproject/

# IntelliJ IDE
.idea/

# Visual Studio
.vs/

# Visual Studio Code
.vscode
/.classpath
/.project
/.settings/
/.gitignore
