.error {
    color: #f86c6b;
    font-weight: bold;
}

.success {
    color: #4dbd74;
    font-weight: bold;
}

.waiting {
    color: orange;
    font-weight: bold;
}

.hidden {
    display: none;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: darkgrey;
}

/* Worksession */
#header-variabili, #header-parametri, #header-ruleset {
    font-weight: normal;
    border-right: 1px solid #c8ced3;
    padding-right: 7px;
}

#header-parametri {
    font-weight: normal;
    border-right: 1px solid #c8ced3;
    padding-left: 7px;
    padding-right: 7px;
}

#header-ruleset {
    font-weight: normal;
    border-right: 1px solid #c8ced3;
    padding-left: 7px;
    padding-right: 7px;
}

#header-execution {
    font-weight: normal;
    padding-left: 7px;
}

#header-variabili:hover, #header-parametri:hover, #header-execution:hover,
#header-ruleset:hover {
    text-decoration: none;
    cursor: pointer;
}

.header-strong {
    font-weight: bold !important;
}

.dropdown-item a:hover {
    text-decoration: none;
    cursor: pointer;
}

#tabs {
    margin-top: 0px;
    margin-bottom: 15px;
}

#tab-msg {
    margin: 0px;
    color: #e55353;
    padding-left: 17px;
    font-weight: normal;
}

#selectable, #div_lista_ruoli{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 91%;
}

#selectable .ui-selected, #selectable .ui-selecting {
    background-color: #39f !important;
    border-color: #39f !important;
    color: white;
}

#selectable li, #div_lista_ruoli li {
    font-size: 0.875rem;
    height: 40px;
    cursor: pointer;
    padding: 0.6rem 1.0rem 0.1rem 1.0rem;
}

#div_lista_ruoli .list-group-item{
    border-bottom: none;
}

#div_lista_ruoli .list-group-item:last-child{
    border-bottom: 1px solid rgba(0,0,21,.125);
}

#selectable .even {
    background-color: #e4e7ea;
}

#selectable .odd {
    background-color: white;
}

.list-group-item {
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

.list-group-item.active {
    color: white !important;
    background-color: #39f;
    border-color: #39f;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    font-weight: normal;
    cursor: pointer;
}

.ui-tabs{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
}

.ui-tabs .ui-tabs-nav li {
    border-radius: 3px;
    margin: 0px 0px 5px 10px;
    background-color: #39f;
    border-color: #39f;
    border: none;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.35rem 0.7rem;
    text-decoration: none;
}

#card-parametri{
    overflow-x: auto;
}

#parametersTable li {
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.bind-variables-head{
    font-weight: bold;
    padding-left: 5px;
}

.bind-variables{
    margin-top: 10px;
    height: 400px; 
    overflow-y: auto;
}

.bind-variables-footer{
    margin-top: 20px;
}

.td-multi-step{
	border-left: 1px solid #d8dbe0;
	border-right: 1px solid #d8dbe0;	
}

#processiList > tbody > tr:last-child{
	border-bottom: 1px solid #d8dbe0;
}